
127.0.0.1 localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

192.168.1.10 web.ziyotek1.local  web
192.168.1.11 web2.ziyotek1.local  web2


